.main_login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}

.main_login_form {
    max-width: 800px;
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
}